<!DOCTYPE HTML>
<html>
<head>
<title>美妆点评</title>
<link href="__PUBLIC__/home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link rel="stylesheet" href="__PUBLIC__/home/css/flexslider.css" type="text/css" media="screen" />
<script src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/home/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
	
  </script>
<script type="text/javascript" src="__PUBLIC__/home/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
	<style type="text/css">
	body{
	background-color: rgb(255,255,237);
}
	#hzxd{
		margin-top: -2%;
		margin-bottom: 1%;
	}
	</style>
</head>
<body>
<!-- header -->
<div class="header" id="home">
	<div class="container">
	   <div class="header-bottom">
		<div class="logo">
			<img src="__PUBLIC__/home/images/LOGO.png" width="60%">
		</div>
			<div class="top-menu">
				<span class="menu"> </span>
				<ul>
					<nav class="cl-effect-5">
					<li><a href="{:U('Home/index/index')}"><span data-hover="首页">首页</span></a></li>
					<li><a href="{:U('Home/pp/product')}"><span data-hover="产品介绍">产品介绍</span></a></li>
					<li><a href="{:U('Home/video/video')}"><span data-hover="视频教学">视频教学</span></a></li>
					<li><a href="{:U('Home/sce/services')}" class="active"><span data-hover="美妆点评">美妆点评</span></a></li>
					<li><a href="{:U('Home/zc/zcao')}"><span data-hover="种草">种草</span></a></li>
					</nav>
				</ul>
				</div>
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>
					<script src="__PUBLIC__/home/js/classie.js"></script>
					<script src="__PUBLIC__/home/js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
					<!-- //search-scripts -->
		<div class="clearfix"></div>
		</div>
	</div>
</div>
			<!-- content-section-starts -->
	  <div class="blog-content">
	 <div class="container">
	     <div class="blog-content-head text-left" id="hzxd">
			<h3>化妆心得</h3>
	    </div>
			<div class="section group">
				<div class="cont span_2_of_3">
					<volist name="sce" id="vo">
					  <div class="blog_posts">
				       <div class="blog_date">
							<figure><span>{$vo.date|substr=8,2}</span>{$vo.date|substr=8,2}</figure>
					    </div>
					       <div class="blog_desc">
								<div class="blog_heading">
									<a href="{:U('Home/sce/single')}/sid/{$vo.sid}">{$vo.name}</a>
									<p>声明：本文由入驻靓妆坊的作者撰写，观点仅代表作者本人，不代表靓妆坊立场。</p>
							     </div>
						<div class="section group example">			
							<div class="col blog_1_of_2">
				                <div class="blog_img">
				                	<a href="{:U('Home/sce/single')}/sid/{$vo.sid}"><img src="__PUBLIC__/{$vo.img}" alt="image" class="img-responsive zoom-img"></a>
				                </div>
							</div>
								<div class="col blogdata_1_of_2">
									<div class="blog_data">
										<p>{$vo.introduce}</p>				                     
				                    <div class="more">
				         	  			<span><a class="button outline-outward hvr-rectangle-in" href="{:U('Home/sce/single')}/sid/{$vo.sid}">Read More</a></span>
				         	  			</div>
				                   </div>
								</div>
							</div>
						 <div class="clearfix"></div>	
					</div>
					 <div class="clearfix"></div>	
				</div>
			</volist>

				<div class="content-pagenation">
						<li><a href="#">Frist</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><span>. . .</span></li>
						<li><a href="#">Last</a></li>
						<div class="clearfix"> </div>
					</div>
		 </div>
				
		    </div>
	 	
   </div>
</div>
</div>
	 <!-- content-section-ends -->
	 <div class="footer-section">
					<div class="container">
						<div class="footer-left">
							<p>    Copyright © 靓妆.Company name All rights reserved.</p>
						</div>
							<div class="bottom-menu">
								<ul>
								<li><a href="{:U('Home/index/index')}" class="active"><span data-hover="首页">首页</span></a></li>
					<li><a href="{:U('Home/pp/product')}"><span data-hover="产品介绍">产品介绍</span></a></li>
					<li><a href="{:U('Home/video/video')}"><span data-hover="视频教学">视频教学</span></a></li>
					<li><a href="{:U('Home/sce/services')}"><span data-hover="美妆点评">美妆点评</span></a></li>
					<li><a href="{:U('Home/zc/zcao')}"><span data-hover="种草">种草</span></a></li>
				
								</ul>
							</div>
							<div class="clearfix"></div>
							<script type="text/javascript">
						$(document).ready(function() {
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>				
				</div>
</body>
</html>