<!DOCTYPE HTML>
<html>
<head>
<title>种草</title>
<link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__PUBLIC__/home/css/zc.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/home/css/layoutit.css" type="text/css"  />
<script src="__PUBLIC__/home/js/jquery.js"></script>
<script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<script type="application/x-javascript"> 
    addEventListener("load", function() { 
    	setTimeout(hideURLbar, 0); }, false); 
        function hideURLbar(){ 
    	window.scrollTo(0,1); 
} </script>
<link rel="stylesheet" href="__PUBLIC__/home/css/flexslider.css" type="text/css" media="screen" />
<script src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/home/js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
	
  </script>
<script type="text/javascript" src="__PUBLIC__/home/js/move-top.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
	<style type="text/css">
	body{
	background-color: rgb(255,255,237);
}

	#zc{
		margin-bottom: 3%;
	}
	</style>
</head>
<body>
<!-- header -->
<div class="header" id="home">
	<div class="container">
	   <div class="header-bottom">
		<div class="logo">
			<img src="__PUBLIC__/home/images/LOGO.png" width="60%">
		</div>
			<div class="top-menu">
				<span class="menu"> </span>
				<ul>
					<nav class="cl-effect-5">
					<li><a href="{:U('Home/index/index')}" ><span data-hover="首页">首页</span></a></li>
					<li><a href="{:U('Home/pp/product')}"><span data-hover="产品介绍">产品介绍</span></a></li>
					<li><a href="{:U('Home/video/video')}"><span data-hover="视频教学">视频教学</span></a></li>
					<li><a href="{:U('Home/sce/services')}"><span data-hover="美妆点评">美妆点评</span></a></li>
					<li><a href="{:U('Home/zc/zcao')}" class="active"><span data-hover="种草">种草</span></a></li>
					</nav>
				</ul>
				</div>
				 <!--script-nav-->
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>
				<!-- 登录注册 -->
				  
		<div class="clearfix"></div>
		</div>
	</div>
</div>
			<div class="portfolio-work-section" id="portfolio">
			<div class="container">
				<div class="our-work-section-head text-center" id="zc">
	     
		  <h3>种草</h3>
	</div>
	    <!-- 内容 -->
	    <div class="container">
	    	<volist name="zc" id="vo">
	    	<div class="content">
	        <div class="row clearfix">
				<div class="col-md-12 column">
					<h3>
						{$vo.title}
					</h3>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/{$vo.img1}" width="200px"/>
					<h3>
						{$vo.name1}
					</h3>
				    </div>
				</div>
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/{$vo.img2}" width="200px" height="200px"/>
					<h3>
						{$vo.name2}
					</h3>
				    </div>
				</div>
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/{$vo.img3}" width="200px" height="200px"/>
					<h3>
						{$vo.name1}
					</h3>
				    </div>
				<div class="but">
				<a href="{:U('Home/zc/zc_content')}/zid/{$vo.zid}"><button>更多</button></a>
			    </div>
			    </div>
		    </div>
	        </div>
</volist>
	        <!-- <div class="content">
	        <div class="row clearfix">
				<div class="col-md-12 column">
					<h3 class="text-center">
						夏天快到了，有哪些控油的护肤品/化妆品？ ​​​​  ​ ​​​​ 
					</h3>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/home/images/zc6.jpg" width="200px"/>
					<h3>
						rmk2016年春季新品控油防晒粉底液
					</h3>
				    </div>
				</div>
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/home/images/zc7.jpg" width="200px" height="200px"/>
					<h3>
						棉花糖粉饼
					</h3>
				    </div>
				</div>
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/home/images/zc8.jpg" width="200px" height="200px"/>
					<h3>
						城野先生控油收缩毛孔化妆水
					</h3>
				    </div>
				<div class="but">
				<a href="{:U('Home/zc/zc_content')}"><button>更多</button></a>
			    </div>
			    </div>
		    </div>
	        </div>

	        <div class="content">
	        <div class="row clearfix">
				<div class="col-md-12 column">
					<h3 class="text-center">
						『11款人气妆前乳』用对了妆前乳真的可以让妆容更持久服帖~ ​​​​  ​​​​ 
					</h3>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/home/images/zc9.jpg" width="200px"/>
					<h3>
						SANA豆乳隔离妆前乳
					</h3>
				    </div>
				</div>
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/home/images/zc10.jpg" width="200px" height="200px"/>
					<h3>
						Laura Mercier 补水妆前乳
					</h3>
				    </div>
				</div>
				<div class="col-md-4 column">
					<div class="img">
					<img src="__PUBLIC__/home/images/zc11.jpg" width="200px" height="200px"/>
					<h3>
						Sofina 控油妆前乳
					</h3>
				    </div>
				<div class="but">
				<a href="{:U('Home/zc/zc_content')}"><button>更多</button></a>
			    </div>
			    </div>
		    </div>
	        </div>

            </div> -->
	
			

					<div>
<div class="clearfix"></div>					
				</div>
				<div class="content-pagenation">
						<li><a href="#">Frist</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><span>. . .</span></li>
						<li><a href="#">Last</a></li>
						<div class="clearfix"> </div>
					</div>
 <!-- Script for gallery Here -->
				<script type="text/javascript" src="__PUBLIC__/home/js/jquery.mixitup.min.js"></script>
					<script type="text/javascript">
					$(function () {
						
						var filterList = {
						
							init: function () {
							
								// MixItUp plugin
								// http://mixitup.io
								$('#portfoliolist').mixitup({
									targetSelector: '.portfolio',
									filterSelector: '.filter',
									effects: ['fade'],
									easing: 'snap',
									// call the hover effect
									onMixEnd: filterList.hoverEffect()
								});				
							
							},
							
							hoverEffect: function () {
							
								// Simple parallax effect
								$('#portfoliolist .portfolio').hover(
									function () {
										$(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
										$(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');				
									},
									function () {
										$(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
										$(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');								
									}		
								);				
							
							}
				
						};
						
						// Run the show!
						filterList.init();
						
						
					});	
					</script>
			<!-- Gallery Script Ends -->
			
		
	  
	  
			</div>
		</div>
	</div>
	<!-- portfolio-section-ends -->
	<div class="footer-section">
					<div class="container">
						<div class="footer-left">
							<p>    Copyright © 靓妆.Company name All rights reserved.</p>
						</div>
							<div class="bottom-menu">
								<ul>
								<li><a href="{:U('Home/pp/product')}"><span data-hover="产品介绍">产品介绍</span></a></li>
					<li><a href="{:U('Home/video/video')}"><span data-hover="视频教学">视频教学</span></a></li>
					<li><a href="{:U('Home/sce/services')}"><span data-hover="美妆点评">美妆点评</span></a></li>
					<li><a href="{:U('Home/zc/zcao')}"><span data-hover="种草">种草</span></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
							<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>				
				</div>
</body>
</html>