<layout name="layoutadmin" />
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Admin/pp/index')}">产品管理</a><span class="crumb-step">&gt;</span><span>新增产品</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Admin/pp/store')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red"></i></th>
                                <td>
                                    <input class="common-text required" id="thumb" name="name" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                               <th><i class="require-red"></i>产品品牌</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="brand" size="50" value="" type="text">
                                </td>
                            </tr>
                             <tr>
                               <th><i class="require-red"></i>产品功效</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="effect" size="50" value="" type="text">
                                </td>
                            </tr>
                             <tr>
                               <th><i class="require-red"></i>适用人群</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="fit-people" size="50" value="" type="text">
                                </td>
                            </tr>
                             <tr>
                               <th><i class="require-red"></i>产品容量</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="volume" size="50" value="" type="text">
                                </td>
                            </tr>
                             <tr>
                               <th><i class="require-red"></i>产品保质期</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="time" size="50" value="" type="text">
                                </td>
                            </tr>
                             <tr>
                               <th><i class="require-red"></i>产品色号</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="color" size="50" value="" type="text">
                                </td>
                            </tr>
                             <tr>
                               <th><i class="require-red"></i>产品原产国</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="country" size="50" value="" type="text">
                                </td>
                            </tr>
                             <tr>
                               <th><i class="require-red"></i>产品说明</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="explain" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                               <th><i class="require-red"></i>种类</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="b_kind" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                               <th><i class="require-red"></i>具体种类</th>
                                <td>
                                    <input class="common-text required" id="thumb" name="s_kind" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>图片1：</th>
                                <td><input type="file" name="img1"></td>
                            </tr>

                            <tr>
                                <th>图片2：</th>
                                <td><input type="file" name="img2"></td>
                            </tr>
                            <tr>
                                <th>图片3：</th>
                                <td><input type="file" name="img3"></td>
                            </tr>
                            
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
   