<layout name="layoutadmin" />
<style>
  .result-tab{
    table-layout:fixed;
  }
  .result-tab td{
width:100%;
word-break:keep-all;/* 不换行 */
white-space:nowrap;/* 不换行 */
overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一 起使用。*/
}

</style>
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">
            </i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">所有视频</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:U('Admin/video/create')}"><i class="icon-font"></i>新增视频</a>
                        
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>视频ID</th>
                            <th>视频分类</th>
                            <th>视频名字</th>
                            <th>介绍</th>
                            <th>路径</th>
                            <th>图片</th>
                            <th>操作</th>
                        </tr>

                        <volist name="video" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="{$vo.vid}" type="checkbox"></td>
                            <td>{$vo.vid}</td>
                            <td>{$vo.kind}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.introduce}</td>
                            <td>{$vo.path}</td>
                            <td>{$vo.img}</td>
                            <td>
                                <a class="link-update" href="{:U('Admin/video/edit')}/vid/{$vo.vid}">修改</a>
                                <a class="link-del" href="{:U('Admin/video/destroy')}/vid/{$vo.vid}">删除</a>
                            </td>
                        </tr>
                        </volist>
                       

                    </table>
                </div>
            </form>
        </div>
    </div>